.theme-light {
  --bg-color: #FFFFFF;
  --text-color: #24252C;
  --component-bg-color: #FFFFFF;
}

.theme-dark {
  --bg-color: #0A013D;
  --text-color: #FFFFFF;
  --component-bg-color: #342F65;
}

body, #root, .theme-light, .theme-dark {
  background: var(--bg-color);
  font-family: 'Inter', Arial, sans-serif;
  color: var(--text-color);
  transition: background 0.2s, color 0.2s;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}